@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    margin: 0;
    background-color: white;
}

:root{
    --background: white;
}


#root {
    display: flex;
    min-height: 100vh;
    background-color: white;
}

input, select, textarea {
    background-color: white;
    color:black;
}

input[type="radio"] {
  accent-color: initial;
}


@layer base {
    h2 {
      @apply font-syne font-bold text-xl md:text-xl lg:text-xl;
      color: black;
    }
    h3 {
        @apply font-syne font-bold text-xl md:text-xl lg:text-xl;
        color: black;
    }

    h4, h5, p, strong, label {
        color: black;
    }
  }
